<html>
    <head>
        <title>Homework</title>
        
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/navigation.css">

        <!--Javascript-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include header.ejs %>
        <p><strong><%- message %></strong></p>
        <h1>Duework</h1>
        <table style="border: 1px solid black; border-collapse: collapse; width:100%">
            <tr>
                <th>Duework ID</th>
                <th>Subject ID</th>
                <th>User ID</th>
                <th>Duework Label</th>
                <th>Due Date</th>
                <th>Complete</th>
            </tr>
            <% for(var i = 0; i < data.length; i++) { %> 
            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].subjectid %></td>
                <td><%= data[i].userid %></td>
                <td><%= data[i].worklabel %></td>
                <td><%= data[i].duedate %></td>
                <td><%= data[i].complete %></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>